@charset "utf-8";
/* CSS Document */

.wrapper{ width:1000px; margin:0 auto}
.border{ border:1px solid #CCC}
em.line{ background:url(bg_line.gif) no-repeat;display:inline-block; width:1px; height:11px; }

















